<div class="header">
	<div class="Top_Nav">
		<div class="Top_Nav_Left">
			<a href="http://www.nongji360.com/" target="_blank" style="background:url(../../images/cultivate2015/logo.jpg) no-repeat; width:92px; height:31px; float:left; margin-top:10px; margin-right:20px;"></a>
			<a href="javascript:void(0);" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.nongji360.com');">设为首页</a>
			<a href="javascript:void(0);" onClick="javascript:window.external.AddFavorite('http://www.nongji360.com', '农机360网')">添加收藏</a>
		</div>
		<div class="Top_Nav_Right">
			<a href="http://t.qq.com/nongji360wang" target="_blank">官方微博</a>|<a href="{{ constant('\Conf::HTTP_YSB') }}" target="_blank">易售宝会员</a>|<a href="{{ constant('\Conf::HTTP_WWW') }}/user/" target="_blank">会员中心</a>|<a href="{{ constant('\Conf::HTTP_WWW') }}/fuwu/map.asp" class="nav_map" target="_blank">网站导航</a>
		</div>
	</div>
</div>
<style type="text/css">
.Top_Nav{ height:44px; width:1000px; margin:0 auto; padding:0px 10px}
.Top_Nav a{font-family:"Microsoft YaHei","微软雅黑","SimHei","黑体" !important; font-size:13px; line-height:44px; margin:0px 12px; color:#454545;}
.Top_Nav a:hover{ color:#eb5e01}
.Top_Nav_Left{float:left; display:inline;}
.Top_Nav_Left .Nav_phone{background:url(../../images/cultivate2015/phone_icon.jpg) no-repeat left; margin-left:0px; padding-left:20px;}
.Top_Nav_Right{float:right;}
.login_1{float:left; display:inline; font-size:14px; font-family:"Microsoft YaHei","微软雅黑","SimHei","黑体" !important;}
.login_1 b a{color:#eb5e01;}
.Top_Nav_Right .nav_map{margin-right:0px;}
.dl_menu{ position:relative; z-index:1000; float:left; font-size:14px;  font-family:"Microsoft YaHei","微软雅黑","SimHei","黑体" !important; width:50px; text-align:center;}
.zh_name,.pass_name{ border:1px solid #d0d0d0; height:27px; width:190px; line-height:27px; padding-left:5px;}
.login_icon{background:url(../../images/cultivate2015/login_icon.jpg) no-repeat; width:56px; height:30px; float:left; margin-left:70px; _margin-left:35px; margin-top:8px;}
.dl_icon{height:43px; line-height:43px; cursor:pointer;}
#loginbox{position:absolute; top:43px; left:-140px; width:290px; z-index:999999; background:#fff; border:2px solid #fe8802;}
#loginbox ul .heigit_1{margin-top:0px; margin-bottom:15px; overflow:hidden}
#logintag{line-height:25px; font-size:12px; color:#ff0000;}
#loginbox ul li span{float:left; display:inline;}
</style>